body{
    max-width: 100%;
    margin: 0, auto;
}

/*MAIN CONTAINER FILES*/

* {
    box-sizing: border-box;
}

h1, p {
    text-align: center;
}


#button-wrapper {
    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;

}

.wrapper {
    position: relative;
    margin: 0 0 3pt 8pt;
    border-radius: 5px;
    flex: row auto;
    overflow: hidden; 
    max-width: 25%;
}

img {
    float: center;
    width:  auto;
    height: 275px;
    object-fit: cover;
    justify-content: center;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

.wrapper:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  /*Easter Egg!*/

#robot-wrapper:hover {
    animation: tada;
    animation-duration: 1s;
} 

  /*Media Queries*/

@media (max-width: 800px) {
    img {
        width:  auto;
        max-height: 200px;
        object-fit: cover;
        justify-items: center;
    }

    .wrapper {
        max-height: 200px;
        max-width: 40%;
    }

        .text {
            font-size: 15px;
        }

}

@media (max-width: 576px) {
    img {
        width:  auto;
        max-height: 300px;
        object-fit: cover;
        justify-items: center;
    }

    .wrapper {
        max-height: 500px;
        max-width: 80%;
    }

    .text {
        font-size: 18px;
    }
}