body {
    max-width: 2000pt;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/*main container files*/

#top-row {
    grid-area: top-row;
}

#middle-row {
    grid-area: middle-row;
}

#bottom-row {
    grid-area: bottom-row
}

#main-container {
    display: grid;
    justify-content: start;
    grid-template-columns: auto;
    grid-template-rows: 275pt 275pt 275pt;
    grid-template-areas: 
    "top-row"
    "middle-row"
    "bottom-row";
}

/* End main container files*/

.picture-row {
    display: flex;
    flex: 25%;
    max-width: 25%;;
}

.wrapper {
    width: auto;
    flex: 25%;
    max-height: 25%;
    padding: 0 4px;
    display: flex;
    position: relative;
}

img {
    width: auto;
    height: 270pt;
    display: block;
}


/*Overlay settings*/



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 393%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper:hover .overlay {
        opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Grid area definitions*/

#austin-wrapper {
    grid-area: austin;
}

#castle-wrapper {
    grid-area: castle;
}

#cave-wrapper {
    grid-area: cave;
}

#wonder-wrapper {
    grid-area: wonder;
}

#magic-wrapper {
    grid-area: magic;
}

#carrie-wrapper {
    grid-area: carrie;
}

#game-boy-wrapper {
    grid-area: game-boy;
}

#knight-wrapper {
    grid-area: knight;
}

#light-wrapper {
    grid-area: light;
}

#microphone-wrapper {
    grid-area: mic;
}

#space-man-wrapper {
    grid-area: space-man;
}

#tomorrowland-wrapper {
    grid-area: tomorrowland;
}

#tree-wrapper {
    grid-area: tree;
}

#whale-rapper {
    grid-area: whale;
}

#robot-wrapper {
    grid-area: robot;
}

#computer-man-wrapper {
    grid-area: computer;
}

/*Reactivity*/

/*Tablet Reactivity*/

@media screen and (max-width: 800px) {

    body {
        max-width: 700px;
        margin: 0, auto;
    }

#main-container {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 340px 340px 340px 340px 340px 340px 340px 340px 340px;
    grid-template-areas: 
    "top-row top-row"
    "top-row top-row"
    "top-row top-row"
    "middle-row middle-row"
    "middle-row middle-row"
    "middle-row middle-row"
    "bottom-row bottom-row"
    "bottom-row bottom-row"
    "bottom-row bottom-row";
    }

#top-row {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 340px 340px 340px;
    grid-template-areas:
    "austin castle"
    "cave wonder"
    "magic magic"
}

#middle-row {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 340px 340px 340px;
    grid-template-areas:
    "carrie game-boy"
    "knight light"
    "mic mic"
}

#bottom-row {
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: 340px 340px 340px;
    grid-template-areas:
    "space-man tomorrowland"
    "tree whale"
    "robot computer"
}

img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    padding: 5px;
}

.mid-pic {
    width: 680px;
}

.overlay {
    height:340px;
    width: 340px;
    object-fit: cover;

}

#magic-wrapper {
    width: 680px;
    height: 340px;
    object-fit: cover;
}


}


/*Phone Reactivity*/

@media screen and (max-width: 600px) {

    body {
        max-width: 450px;
        margin: 0, auto;
    }

    #main-container {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(16, 450px);
        grid-template-areas: 
        "top-row"
        "top-row"
        "top-row"
        "top-row"
        "top-row"
        "middle-row"
        "middle-row"
        "middle-row"
        "middle-row"
        "middle-row"
        "bottom-row"
        "bottom-row"
        "bottom-row"
        "bottom-row"
        "bottom-row"
        "bottom-row";
    
    }

    #top-row {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(5, 450px );
        grid-template-areas:
        "austin" 
        "castle"
        "cave" 
        "wonder"
        "magic"
    }

    #middle-row {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(5, 450px );
        grid-template-areas:
        "carrie"
        "game-boy"
        "knight" 
        "light"
        "mic"
    }

    #bottom-row {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(6, 450px );
        grid-template-areas:
        "space-man" 
        "tomorrowland"
        "tree"
        "whale"
        "robot"
        "computer"
    }

        img {
            width: 450px;
            height: 450px;
            object-fit: cover;
            padding: 5px;
            vertical-align: middle;
        }

        .mid-pic {
            width: 450px;
        }
        
        .overlay {
            height:450px;
            width: 450px;
            object-fit: cover;
        
        }